# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build and Test

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  iOS:
    name: Build and test on iOS
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: xcodebuild build-for-testing -scheme AppStoreVersionKit -destination 'platform=iOS Simulator,name=iPhone 16'
      - name: Test
        run: xcodebuild test-without-building -scheme AppStoreVersionKit -destination 'platform=iOS Simulator,name=iPhone 16'
